argcomplete==1.10.0
asgiref==3.3.1
beautifulsoup4==4.9.3
blivet==3.2.2
blivet-gui==2.1.15
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
coloredlogs==14.0
conda==4.9.1
conda-package-handling==1.7.2
cryptography==3.1.1
cupshelpers==1.0
cycler==0.10.0
cytoolz==0.10.1
dasbus==0.2
dbus-python==1.2.16
decorator==4.4.0
distro==1.4.0
Django==3.1.7
frozendict==1.2
gpg==1.14.0
humanfriendly==8.2
humanize==0.5.1
idna==2.8
imageio==2.9.0
img2pdf==0.4.0
imutils==0.5.3
initial-setup==0.3.80
kiwisolver==1.2.0
langtable==0.0.53
libcomps==0.1.15
lxml==4.4.1
matplotlib==3.3.2
meld==3.20.2
mux-python==1.12.0
netifaces==0.10.9
networkx==2.5
nftables==0.1
notify2==0.3.1
ntplib==0.3.3
numpy==1.19.2
ocrmypdf==11.2.1
olefile==0.46
opencv-python==4.4.0.44
ordered-set==3.1
pafy==0.5.5
pdfminer.six==20200726
pid==2.2.3
pikepdf==1.19.3
Pillow==7.0.0
pluggy==0.13.1
ply==3.11
productmd==1.30
pwquality==1.4.4
py-cpuinfo==5.0.0
pycairo==1.18.2
pycosat==0.6.3
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.5
pyenchant==2.0.0
Pygments==2.4.2
PyGObject==3.36.1
pyinotify==0.9.6
pykickstart==3.24
PyMySQL==1.0.2
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyparted==3.11.4
PyPDF2==1.26.0
PyQt4-sip==4.19.21
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PySocks==1.7.1
python-augeas==0.5.0
python-dateutil==2.8.0
python-gettext==4.0
python-manatools==0.0.3
python-meh==0.48
pytz==2020.5
pyudev==0.22.0
PyWavelets==1.1.1
PyYAML==5.4.1
Quamash==0.6.1
rednotebook==2.18
reportlab==3.5.57
requests==2.22.0
requests-file==1.4.3
requests-ftp==0.3.1
rpm==4.15.1
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
scikit-image==0.17.2
scipy==1.5.2
selinux==3.0
sepolicy==3.0
setools==4.3.0
simpleline==1.6
six==1.14.0
slip==0.6.4
slip.dbus==0.6.4
sortedcontainers==2.2.2
sos==3.9
soupsieve==1.9.2
sqlparse==0.4.1
systemd-python==234
tesserocr==2.5.1
tifffile==2020.10.1
toolz==0.10.0
tqdm==4.50.2
urllib3==1.25.7
virtscreen==0.3.1
youtube-dl==2021.4.17
