{% extends 'base.html' %}
{% load static%}
{% block content %}
    <div class="container">
    <div class="col 12 center-align">
    <div class="row" id="avatar">
        <h3 class="center-align light-blue-text">Create video on channel
            </h3>
        <h3>
            <img class="circle"  style="height: inherit; width: 100px; vertical-align: middle"
                 src="{% static '/user_data/channel_avatar/'%}{{ channel.avatar }}">
            {{ channel.name }}
        </h3>
    </div>
    </div>
    <div id="login-page" class="row" style="width: 500px">
    <form class="col s12" action="{% url "save_ver" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if acc_exist %}
            <div class="row">
            <a class="red-text">Account with such name already exist. Try another one</a>
            </div>
        {% endif %}
    <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate" name="username">
          <label for="username">Create Username</label>
        </div>
      </div>
    <div class="row">
        <div class="file-field input-field col s12">
      <div class="btn light-blue">
        <span>Avatar</span>
          {{ form.file }}
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text"  placeholder="Upload your Avatar">
      </div>
    </div>
    </div>
        {% if pass_not_same %}
            <div class="row">
            <a class="red-text">Passwords do not match, try again</a>
            </div>
        {% endif %}
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password_val" type="password" class="validate" name="password_val">
          <label for="password_val">Repeat Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="phone" type="tel" class="validate" name="phone">
          <label for="phone">Phone Number</label>
            <span class="helper-text">Optional, so we can contact you if you lost password</span>
        </div>
      </div>

    <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light col s12 light-blue" type="submit">
                Create Account
            </button>
          </div>
        </div>

    </form>
  </div>
  </div></div>
{% endblock %}